<div class="container">

    <div class="row mt-4">
        <div class="col">
            <h1>Add player in a team</h1>
        </div>
    </div>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Gender</th>
            <th>Team</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in players track by $index">
            <td>{{player.id}}</td>
            <td>
                <div style="height:100%; width:100%">
                    <a style="text-decoration: none" href="#!/player/{{player.id}}">
                        {{player.name}}
                    </a>
                </div>
            </td>
            <td> {{player.gender}}</td>
            <td>
                <div style="height:100%;width:100%">
                    <a style="text-decoration: none" href="#!/teams/name/{{player.team}}">
                        {{player.team}}
                    </a>
                </div>
            </td>

            <td>
                <div class="col-auto">
                    <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit"
                            ng-click="addPlayerToTeam(team.id, player.id)">ADD PLAYER
                    </button>
                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>



