<h1>COMPETITIONS</h1>

<!-- button for adding a new product -->
<a href="#!/newcompetition" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Player
</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Competition</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="competition in competitions track by $index">
        <td>{{competition.id}}</td>
        <td>
            <div style="height:100%; width:100%">
                <a href="#!/competition/{{competition.id}}">
                    {{competition.name}}
                </a>
            </div>
        </td>

    </tr>
    </tbody>
</table>