<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<br><br><br><br>
<div style="align-content: center; align-items: center; display: flex; justify-content: center">
    <h1 class="esports-title">eSports<i class="bi bi-joystick ms-2"></i></h1>
    <br>
</div>
<br>
<div style="align-content: center; align-items: center; display: flex; justify-content: center">
    <h3 style="color:#000;"> Participate in eSports competitions and manage your teams </h3>
</div>
</body>
</html>