
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{player.name}}</h5>
                <p class="card-text">
                    <div style="height:100%;width:100%">
                        <a style="text-decoration: none" href="#!/teams/name/{{player.team}}">
                            {{stats}}
                        </a>
                    </div>
                </p>
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </div>
</div>