<br><br>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{player.name}}</h5>
                <p class="card-text">
                    <div style="height:100%;width:100%">
                        <a style="text-decoration: none" href="#!/teams/name/{{player.team}}">
                            {{stats}}
                        </a>
                    </div>
                </p>

                <div class="starts container">
                    <div class="row">
                        <div class="col-sm"> <i class="bi bi-star" *ngIf="stats == 0"></i> </div>
                        <div class="col-sm"> <i class="bi bi-star-fill" *ngIf="stats >= 1"></i> </div>
                        <div class="col-sm"> <i class="bi bi-star-fill" *ngIf="stats >= 2"></i> </div>
                        <div class="col-sm"> <i class="bi bi-star-fill" *ngIf="stats >= 3"></i> </div>
                        <div class="col-sm"> <i class="bi bi-star-fill" *ngIf="stats >= 4"></i> </div>
                        <div class="col-sm"> <i class="bi bi-star-fill" *ngIf="stats >= 5"></i> </div>
                    </div>
                </div>
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </div>
</div>