<h1>PLAYERS</h1>

<!-- button for adding a new product -->
<a href="#!/newplayer" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Player
</a>

<table class="table">
    <thead>
    <tr>
        <th>List</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players track by $index">
        <td>{{player.id}}</td>
        <td>
                <div style="height:100%;width:100%">
                    <a href="#!/player/{{player.id}}">
                    {{player.name}}
                    </a>
                </div>
        </td>
        <td>
            <div style="height:100%;width:100%">
                <a href="#!/team/{{player.team}}">
                    {{player.team}}
                </a>
            </div>
        </td>


    </tr>
    </tbody>
</table>