<h1>TEAMS</h1>

<!-- button for adding a new product -->
<a href="#!/newteam" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Team
</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams track by $index">
        <td>{{team.id}}</td>
        <td>
            <div style="height:100%; width:100%">
                <a href="#!/team/{{team.id}}">
                    {{team.name}}
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>