<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col">
      <h1>Competitions</h1>
    </div>
    <div class="col-auto">
      <!-- button for registering a new competition -->
      <a href="/competitions/new" class="btn create">
        <i class="bi bi-plus-circle-fill inline-right" aria-hidden="true"></i>
        Register a new competition
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let competition of competitions">
      <td>
        <div style="height:100%; width:100%">
          <a style="text-decoration: none" href="/competitions/id/{{competition.id}}">
            {{competition.id}}
          </a>
        </div>
      </td>
      <td>
        <div style="height:100%; width:100%">
          <a style="text-decoration: none" href="/competitions/id/{{competition.id}}">
            {{competition.name}}
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
