<h1 class="mt-4">Competitions</h1>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let competition of competitions">
      <td>
        <div style="height:100%; width:100%">
          <a style="text-decoration: none" href="/competitions/id/{{competition.id}}">
            {{competition.id}}
          </a>
        </div>
      </td>
      <td>
        <div style="height:100%; width:100%">
          <a style="text-decoration: none" href="/competitions/id/{{competition.id}}">
            {{competition.name}}
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
