<nav class="navbar navbar-expand-md navbar-dark mb-1" id="navbar-main">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand esports-title" href="#">
      eSports<i class="bi bi-joystick ms-2"></i>
    </a>

    <!-- Navbar toggle button when navbar is collapsed -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar contents -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/players" routerLinkActive="active">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/competitions" routerLinkActive="active">Competitions</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li *ngIf="loggedIn == false" class="nav-item">
          <a class="btn btn-outline-light" routerLink="/login" id="login-button">Log in</a>
        </li>
        <li *ngIf="loggedIn == true" class="nav-item">
          <a class="btn btn-outline-light" (click)="logout()" id="logout-button">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
