<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col">
      <h1>Registered players</h1>
    </div>
    <div class="col-auto">
      <!-- button for registering a new player -->
      <a href="/players/new" class="btn create">
        <i class="bi bi-plus-circle-fill inline-right" aria-hidden="true"></i>
        Register a new player
      </a>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Player</th>
      <th>Gender</th>
      <th>Team</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players">
      <td>{{player.id}}</td>
      <td>
        <div>
          <a href="/players/id/{{player.id}}">
            {{player.name}}
          </a>
        </div>
      </td>
      <td>{{player.gender | titlecase}}</td>
      <td>
        <div>
          <a href="/teams/name/{{player.team}}">
            {{player.team}}
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


